/* Created by: Hames Al Sharoa
* Created on: feb 2024
* This file contains the CSS for index.html
*/

.mdl-layout__header-row {
  justify-content: center;
  padding: 0;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

.mdl-textfield__error {
  color:pink white;
}

.page-content {
  color: rgb(194, 105, 105);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
}

body {
  background-color: cornflowerblue;
}